.containerFooter{
    display: flex;
    padding: 50px;
    margin-top: 30px;
    background-color: rgb(216, 216, 216);
    
}

.categoryFooter{
   margin: 5px;
}

.contactFooter{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 5px;
}

.mail{
    margin: 5px;
}

.phone{
    margin: 5px;
}